# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Database
/instance/ecommerce.db

# VS Code settings
.vscode/settings.json

# Optional: ignore all pycache in app subfolders (recursivo)
app/**/__pycache__/
